/*ANIMATION OUVERTURE DE PAGE*/
@keyframes mon_anim1 {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.anim1 {
  animation-name: mon_anim1;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;

  animation-iteration-count: 1;
}

@keyframes mon_anim2 {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.anim2 {
  animation-name: mon_anim2;
  animation-duration: 2500ms;
  animation-timing-function: ease-in-out;

  animation-iteration-count: 1;
}

@keyframes mon_anim3 {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.anim3 {
  animation-name: mon_anim3;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;

  animation-iteration-count: 1;
}

body {
  width: 100%;
  margin: 0;
}

h3 {
  border-bottom: 3px solid #99e2d0;
  display: flex;
  width: 10%;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  font-weight: lighter;
  margin-left: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  font-size: 15px;
}

.restaurantpicture {
  height: 273px;
  width: 100%;
  background-size: cover;
  background-image: url(./MaquettesOhmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

img {
  display: flex;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

#hidden {
  visibility: hidden;
}

#returnarrow {
  color: black;
  margin-left: 20px;
}

.fa-arrow-left:hover {
  -webkit-transform: scale(1.25);
}

/* SECTION */
section {
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -65px;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

.sectiontitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
  font-size: 30px;
}

#subtitlerestaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

.box {
  display: flex;
  flex-direction: column;
}

.menubox {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  box-shadow: 5px 15px 20px -3px rgb(224 220 220);
  width: 95%;
  margin: 10px auto;
  transition: all 2s;
}

.menuboxcontain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 95%;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.Menuposition {
  display: flex;
  align-items: flex-end;
}

.price {
  font-weight: bold;
}

.nameplate {
  font-weight: bold;
}

.commandbutton {
  border-radius: 40px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 45%;
  cursor: pointer;
}

.Command {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.commandbutton:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* COEUR */
#heart1 {
  color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 15px;
}

#heart1:hover {
  transition-duration: 0.8s;
  -webkit-text-stroke-color: transparent;
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ANIMATION MENU */

.fa-check-circle {
  padding: 29.5px;
  background-color: #99e2d0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.menucheck {
  position: relative;
  right: -11px;
  background-color: #99e2d0;
  width: 0px;
  height: 86px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  transition: all 1.5s;
}

.menubox:hover .menucheck {
  transition: all 2s;
  flex-grow: 0.9;
  flex-basis: 1px;
}

.menubox:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: all 2s;
}

.left {
  flex-shrink: 1;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right {
  flex-shrink: 0;
}

/*FOOTER*/
footer {
  color: white;
  background-color: rgb(32 30 30 / 94%);
}

.footersection {
  margin-top: 20px;
  margin-left: 20px;
  height: 220px;
}

#h2footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
  padding-top: 20px;
}

.footercolumn {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: white;
}

.listfooter {
  color: white;
  margin-bottom: 10px;
}

.footerparagraph {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

/* RESPONSIVE */
/* Nouvelles règles si la fenêtre fait moins de 1440px */
@media screen and (min-width: 1440px) {
  .box {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menubox {
    width: 30%;
  }

  h3 {
    width: 3%;
  }
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (min-width: 768px) {
  h3 {
    width: 4%;
  }
}

/* Nouvelles règles si la fenêtre fait moins de 1440px */
@media screen and (min-width: 1440px) {
  h3 {
    width: 2%;
  }

  @keyframes transition {
    0% {
      margin-top: -10px;
      margin-left: auto;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}
