/*ANIMATION CHARGEMENT PAGE*/
@keyframes transition {
  0% {
    margin-top: -10px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.box {
  animation: transition 2s ease-in-out 0.01s, opacity 2s ease-in-out 0.01s;
}

body {
  width: 100%;
  margin: 0;
}

h3 {
  border-bottom: 3px solid #99e2d0;
  display: flex;
  width: 3%;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  font-weight: lighter;
  margin-left: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

.restaurantpicture {
  height: 273px;
  width: 100%;
  background-size: cover;
  background-image: url(./MaquettesOhmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

img {
  display: flex;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

#hidden {
  visibility: hidden;
}

#returnarrow {
  color: black;
  margin-left: 20px;
}

/* SECTION */
section {
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -65px;
}

.sectiontitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
  font-size: 30px;
}

#subtitlerestaurant {
  font-family: "Shrikhand", sans-serif;
}

.boxstarter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menuboxstarter {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  width: 45%;
  margin: 10px auto;
  box-shadow: 5px 15px 20px -3px rgb(224 220 220);
}

.box {
  display: flex;
  flex-direction: row;
}

.menubox {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  width: 30%;
  margin: 0 auto;
  box-shadow: 5px 15px 20px -3px rgb(224 220 220);
}

.menuboxcontain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 95%;
  font-family: "Roboto", sans-serif;
}

.price {
  font-weight: bold;
  margin-right: 10px;
}

.nameplate {
  font-weight: bold;
}

.commandbutton {
  border: 1px solid white;
  border-radius: 40px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 50px auto;
  padding: 30px;
}

.Command {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.commandbutton:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  transform: scale(1.1);
}

/* COEUR */
#heart1 {
  color: whitesmoke;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#heart1:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  transform: scale(1.2);
  color: #ff79da;
  -webkit-text-stroke-color: #ff79da;
  cursor: pointer;
}

/* ANIMATION MENU */
.fa-check-circle {
  border: 1px solid #99e2d0;
  padding: 29.5px;
  background-color: #99e2d0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 25px;
  color: white;
}

.menucheck {
  margin-right: -10px;
}

.menucheck:hover {
  display: unset;
}

/*FOOTER*/
footer {
  color: white;
  background-color: rgb(32 30 30 / 94%);
}

.footersection {
  margin-top: 20px;
  margin-left: 20px;
  height: 220px;
}

#h2footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
  padding-top: 20px;
}

.footercolumn {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: white;
}

.listfooter {
  color: white;
  margin-bottom: 10px;
}

.footerparagraph {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

/* RESPONSIVE */
/* Nouvelles règles si la fenêtre fait moins de 1440px */
@media screen and (min-width: 1440px) {
  .box {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menubox {
    width: 30%;
  }

  h3 {
    width: 3%;
  }
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (min-width: 768px) {
  h3 {
    width: 4%;
  }
}

/* Nouvelles règles si la fenêtre fait moins de 1440px */
@media screen and (min-width: 1440px) {
  h3 {
    width: 2%;
  }

  @keyframes transition {
    0% {
      margin-top: -10px;
      margin-left: auto;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}
